@import '../../resass';

.navbar-brand {
  color: #3a3a3a;
  margin-right: 0;

  &:hover {
    color: #505050;
  }

  &:focus {
    color: #505050;
  }
}

.navbar-name {
  display: none;
  @include r(480) {
    display: flex;
  }
}

button {
  font-size: 16px;
}
