<div class="container">
  <div class="row">
    <div class="col"><h1>Hello!</h1></div>
  </div>
  <div class="row">
    <div class="col">
      <p>Application was developed using following libraries:</p>
      <ul>
        <li>Angular7</li>
        <li>Bootstrap</li>
        <li>Angular Material</li>
      </ul>
      I chose angular because most of my experience comes from Angular projects, but actually any other library (React /
      Vue) would be perfectly fine here.
      I also decided to include bootstrap and angular material to provide some basic styles, grid and typical
      components. Feature scope was pretty small so I decided not to use any additional state management libraries like
      redux/ngrx.
    </div>
    <div class="col">
      <strong>Features:</strong>
      <ul>
        <li>User can see a default list of activities in Berlin</li>
        <li>It's possible to do text search on titles of activites</li>
        <li>More filters are available after clicking 'more filters'. It's possible to sort using price, rating and
          select only special offers
        </li>
        <li>After selecting an activity user is taken to tour details page, which is currently a mock of a details
          page.
        </li>
        <li>I grabbed pictures of Berlin from <a href="https://source.unsplash.com/" target="_blank">https://source.unsplash.com/</a>
        </li>
      </ul>


    </div>
    <div class="col">
      <strong>Assumptions:</strong>
      <ul>
        <li>App is using inline dummy activity data as a source</li>
        <li>Only optimize for mobile screen sizes, but tablet and desktop layouts are also supported</li>
        <li>No branding, header, or footer content necessary.</li>
      </ul>


    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Prod server </h3>

      Run ng serve --prod for a prod server. Navigate to http://localhost:4200/. The app will automatically reload if you change any of the source files.

      <h3>Development server</h3>

      Run ng serve for a dev server. Navigate to http://localhost:4200/. The app will automatically reload if you change any of the source files.

      <h3>Build</h3>

      Run ng build to build the project. The build artifacts will be stored in the dist/ directory. Use the --prod flag for a production build.

      <h3>Running unit tests</h3>

      Unfortunately I could not create unit tests in a given timeframe, but testing framework (Karma) is already connected with the project. Run ng test to execute the unit tests via Karma.

      <h3>Running end-to-end tests</h3>

      Unfortunately I could not create e2e tests in a given timeframe, but testing framework (Protractor) is already connected with the project. Run ng e2e to execute the end-to-end tests via Protractor.
    </div>
  </div>

</div>
