.city-wallpaper {
  background-color: #f8f9fa !important;
  border-radius: 0;
}

.search-input {
  width: 40%;
}

.cards {
  margin-top: 20px;

  &__count {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
